<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-positive ion-navicon" ng-click="abrirMenu()"></button>
  </ion-nav-buttons>        
  <ion-content class="center" padding="true">
    <h3 class="titulo-seg">Itaú Seguros S.A.<br> CNPJ: 00-000-000/0000-00</h3>
    <form>
    	<h3 class="titulo-contratacao">Dados para Contratação</h3>
    	<div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Sobrenome</span>
          <input type="text" placeholder="Sobrenome">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="exemplo@exemplo.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Telefone/Celular</span>
          <input type="text" placeholder="0000-0000 ou 90000-0000">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">CPF</span>
          <input type="text" placeholder="000.000.000-00">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">RG</span>
          <input type="text" placeholder="00.000.000-0">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Marca
          </div>
          <select>
            <option selected>Honda</option>
            <option>Ford</option>
            <option>Fiat</option>
            <option>GM</option>
            <option>Volkswagen</option>
            <option>Toyota</option>
            <option>Mercedes Benz</option>
            <option>BMW</option>
            <option>Audi</option>
            <option>Citröen</option>
            <option>Hyundai</option>
            <option>Renault</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Modelo/Motor + Ano</span>
          <input type="text" placeholder="Fiesta 1.5 2010">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Placa</span>
          <input type="text" placeholder="ENF-2098">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Cidade/Estado</span>
          <input type="text" placeholder="São Bernardo do Campo/SP">
        </label>
        <li class="item item-toggle" ng-click="acessorios = !acessorios">
          Acessório(s)
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <div ng-show="acessorios">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Digite os acessórios:</span>
            <input type="text" placeholder="Exemplo: Direção Hidráulica, Travas Elétricas, etc...">
          </label>
        </div>
    		<button class="botoes button button-block button-dark" ng-click="contratar()">Contratar</button>
    	</div>
    </form>
  </ion-content>
</ion-view>