<ion-view>
  <ion-content class="bg-login padding">
  	<img src="../img/itau-seguros-logo-deitado.jpg" class="img-login">
  	<div class="list list-inset">
		<label class="item item-input">
	    	<span class="input-label">Usuário</span>
	        <input type="text" placeholder="Digite seu usuário" ng-model="data.username">
	    </label>
	    <label class="item item-input">
	    	<span class="input-label">Senha</span>
	        <input type="password" placeholder="Digite sua senha" ng-model="data.password">
	    </label>
	</div>
    <button class="botoes button button-block button-dark" ng-click="login()">Entrar</button>
  </ion-content>
</ion-view>