<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-positive ion-navicon" ng-click="abrirMenu()"></button>
  </ion-nav-buttons>        
  <ion-content class="center" padding="true">
  	<h1 class="titulo-home">Sobre nós</h1>
    <ion-slide-box class="sobre-slide">
      <ion-slide>
        <h4 class="topico-sobre">Quem somos</h4>
        <p class="texto-sobre">Itaú, cujo nome oficial é Itaú Unibanco S.A. , é um banco brasileiro sediado em São Paulo, braço do Itaú Unibanco Holding S.A. voltado ao setor de varejo e múltiplo, que oferece serviços de finanças e seguros a dezenas de milhões de clientes. Atua em mais de 27 países. O Itaú Unibanco é parte do Grupo Itaúsa. O banco se tornou o maior banco do hemisfério sul em 3 de novembro de 2008 após anunciar a fusão com o Unibanco, ultrapassando seu rival histórico, Bradesco. Posteriormente assumiu o posto para a sociedade de economia mista Banco do Brasil S.A., permanecendo o Itaú na atualidade como maior banco da América do Sul e do hemisfério sul.
        </p>
      </ion-slide>
      <ion-slide>
      <h4 class="topico-sobre">Itaú Personnalité</h4>
        <p class="texto-sobre">
          O Itaú Personnalité é a divisão que oferece serviços especializados para satisfazer as demandas de clientes de alta renda. A estratégia do Personnalité consiste na oferta de serviços de consultoria por gerentes que recebem treinamento para entender as necessidades específicas desses clientes e de uma grande carteira de produtos e serviços exclusivos, disponibilizados em uma rede dedicada localizada nas principais cidades brasileiras e formada por agências dedicadas. Os clientes Personnalité também têm acesso às agências e caixas eletrônicos Itaú e Unibanco em todo o país
        </p>
      </ion-slide>
      <ion-slide>
        <h4 class="topico-sobre">Itaú Uniclass</h4>
        <p class="texto-sobre">
          Segmento herdado do Unibanco, chocou-se com a estratégia Personalité. O Unibanco era mais ágil, pois o conceito Uniclass era para clientes e não agências, ou seja, os clientes de uma agência poderiam ser classificados de forma diferentes enquanto no Itaú não.

          Em face disto, o Itaú Personnalité em julho de 2011 reformulou sua estratégia e elevou o limite de clientes-alvo para pessoas com renda superior a R$ 10.000 por mês (em comparação com R$ 7.000 anteriormente, que chocavam-se com o Uniclass) ou com investimentos acima de R$ 100.000 (em contraposição a R$ 60.000 anteriormente, igualmente se chocavam com o Uniclass). Essa estratégia melhora o choque com a divisão Uniclass mencionada na atividade de banco de varejo, sem contudo resolver o problema de cliente em agência distinta<br><br>
        <a href="https://www.itau.com.br/sobre/" class="links-sobre">Clique aqui</a> e acesse o site para mais informações.
        </p>
      </ion-slide>
    </ion-slide-box>
    <br><p class="text-sobre">Miguel Navarro © All Rights Reserved</p>
  </ion-content>
</ion-view>